#root {
  overflow: hidden;
}

@media only screen and (max-width: 1920px){
  /* Subheader */

  .cusdet-sub-header {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    width: 1920px;
    height: 130px;
    background-color: #4b2b6f;
  }

  .cusdet-sub-header .back-button {
    flex: 0.6;
    width: 81.5px;
    max-width: 81.5px;
    align-self: center;
  }
  
  .cusdet-sub-header .back-arrow {
    width: 20px;
    height: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 51.5px;
  }
  
  .cusdet-sub-header .customer-name {
    
    max-width: 550px;
  }
  
  .cusdet-sub-header .customer-name-label {
    padding-top: 39px;
    padding-bottom: 39px;
    height: 52px;
    font-family: Roboto-Light;
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .cusdet-sub-header .divider {
    flex: 1;
    max-width: 0px;
    width: 0px;
    height: 65.8px;
    border: solid 1px #937aaf;
    margin-top: 32.5px;
    margin-bottom: 31.7px;
    margin-left: 28.5px;
    margin-right: 28.5px;
    align-self: center;
  }

  .payment-title {
    width: 207px;
    height: 68px;
    font-family: Roboto;
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .cusdet-sub-header .customer-name {
    max-width: 550px;
  }

  .cusdet-sub-header .customer-name-label {
    padding-top: 39px;
    padding-bottom: 39px;
    height: 58px;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    text-align: left;
    color: #ffffff;
    max-width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cusdet-sub-header .divider {
    flex: 1;
    max-width: 0px;
    width: 0px;
    height: 65.8px;
    border: solid 1px #937aaf;
    margin-top: 32.5px;
    margin-bottom: 31.7px;
    margin-left: 28.5px;
    margin-right: 28.5px;
  }

  .cusdet-sub-header .incircle-details {
    display: flex;
    flex-direction: row;
    max-width: 550px;
    margin-left: -15px;
  }

  .cusdet-sub-header .subheader-iconNum {
    vertical-align: middle;
    padding-top: 28.5px;
    padding-bottom: 31.7px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left: 45px;
    position: relative;
  }

  .cusdet-sub-header .subheader-circleStatusicon {
    width: 81px;
    height: 81px;
    padding-top: 24.5px;
  }

  .cusdet-sub-header .payment-cust-address-container {
    padding-top: 33.7px;
    padding-bottom: 33.1px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .cusdet-sub-header .payment-cust-address {
    flex: 1;
    height: 29px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
  }

  .cusdet-sub-header .payment-spacer-div {
    flex: 1.8;
  }

  .subheader-right-container {
    right: 0;
    position: absolute;
    display: flex;
  }
}

@media only screen and (max-width: 1080px) {
    /* Subheader */
    .cusdet-sub-header {
      display: flex;
      flex-direction: row;
      color: #ffffff;
      width: 1080px;
      height: 230px;
      background-color: #4b2b6f;
    }
    .cusdet-sub-header .back-button {
      flex: 0.6;
      width: 81.5px;
      max-width: 81.5px;
    }
    
    .cusdet-sub-header .back-arrow {
      width: 20px;
      height: 40px;
      padding-top: 45px;
      padding-bottom: 45px;
      padding-left: 51.5px;
    }
    
    .cusdet-sub-header .customer-name {
      
      max-width: 550px;
    }
    
    .cusdet-sub-header .customer-name-label {
      padding-top: 39px;
      padding-bottom: 39px;
      height: 52px;
      font-family: Roboto-Light;
      font-size: 44px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      text-align: left;
      color: #ffffff;
      max-width: 450px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .cusdet-sub-header .divider {
      flex: 1;
      max-width: 0px;
      width: 0px;
      height: 65.8px;
      border: solid 1px #937aaf;
      margin-top: 32.5px;
      margin-bottom: 31.7px;
      margin-left: 28.5px;
      margin-right: 28.5px;
    }
    .title-container{
      align-self: center;
    }
    .payment-title {
      width: 207px;
      height: 68px;
      font-family: Roboto;
      font-size: 52px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: 2px;
      text-align: left;
      color: #ffffff;
      padding-top: 31px;
      padding-bottom: 31px;
    }
    .cusdet-sub-header .customer-name {
      max-width: 550px;
    }
  
    .cusdet-sub-header .customer-name-label {
      padding-top: 39px;
      padding-bottom: 39px;
      height: 58px;
      font-family: Roboto;
      font-size: 44px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.32;
      text-align: left;
      color: #ffffff;
      max-width: 450px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .cusdet-sub-header .divider {
      flex: 1;
      max-width: 0px;
      width: 0px;
      height: 65.8px;
      border: solid 1px #937aaf;
      margin-top: 32.5px;
      margin-bottom: 31.7px;
      margin-left: 28.5px;
      margin-right: 28.5px;
    }
  
    .cusdet-sub-header .incircle-details {
      display: flex;
      flex-direction: row;
      max-width: 550px;
      margin-left: -15px;
    }
  
    .cusdet-sub-header .subheader-iconNum {
      vertical-align: middle;
      padding-top: 28.5px;
      padding-bottom: 31.7px;
      font-family: Roboto;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 3;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      left: 45px;
      position: relative;
    }
  
    .cusdet-sub-header .subheader-circleStatusicon {
      width: 120px !important;
      height: 120px  !important;
      padding: 0 !important;
    }
  
    .cusdet-sub-header .payment-cust-address-container {
      padding-top: 33.7px;
      padding-bottom: 33.1px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      width: auto;
      display: none;
    }
  
    .cusdet-sub-header .payment-cust-address {
      flex: 1;
      height: 29px;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.32;
      letter-spacing: 2px;
      text-align: left;
      color: #ffffff;
    }
  
    .cusdet-sub-header .payment-spacer-div {
      flex: 1.8;
    }
  
    .subheader-right-container {
      right: 0;
      position: absolute;
      display: flex;
      align-self: center;
    }
}
