.lookup-sub-header{
    display: flex;
    /* flex-direction: row; */
    color: #ffffff;
    width: 1920px;
    height: 130px;
    background-color: #4b2b6f;
    justify-content: space-between; 
}

.lookup-sub-header-title-flex{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row; 
    /* justify-content: space-between; */
}
.lookup-header-image{
    width: 90px;
    height: 90px;
    margin-top: 20px;
}
.lookup-header-cust-name{
    width: 179px;
  height: 29px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 20px;
}
.custom-style{
    margin-top: 30px;   
    margin-right: 50px;
}
.lookup-header-title {
    font-family: Roboto-Light;
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    width: 758px;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
    margin: 39px 39px 50px;
}
.lookup-header-left {
    display: flex;
    width: -webkit-fill-available;
    -ms-flex-direction: row;
    /* text-align: right; */
    flex-direction: row;
    justify-content: flex-end;
}
.lookup-cust-title{
    width: 500px;
    height: 58px;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #ffffff;
    margin: 36px 25px 36px 0px;
}
.lookup-divider-line{
    width: 0;
  height: 65.8px;
  opacity: 0.5;
  border: solid 2px #ffffff;
  margin: 31px 25px 32px 0px;
}
.lookup-sidemenu{
    width: 343px;
    height: 913px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 6px 0 #d3d3d3;
}
.lookup-menu-style{
    width: 241px;
  height: 34px;
  font-family: Roboto;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #333333;
  margin: 33px 50px  33px 49px;
}
.top-space{
    margin-top:40px;
}
.lookup-content{
    display: flex;
}
.lookup-card-content{
    width: 1577.2px;
  height: 913px;
  background-color: #ffffff;
  background-color: var(--white);
  box-shadow: 0 1px 6px 0 #d3d3d3;
  box-shadow: 0 1px 6px 0 var(--Gray5);
}
