/*-------------------------- SUB HEADER--------------------- */
.custsearch-res-sub-header {
    display: flex;
    flex-direction: row;
    color:#ffffff;
    padding: 0 50px;
}

.customer-search-result-main .customer-name .customer-name-label {
    font-family: Roboto;
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    text-align: left;
    color: #505050;
}

.custsearch-res-sub-header .back-button {
    display: inline-block;
}

.custsearch-res-sub-header .back-arrow {
    width: 20px;
    height: 40px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 40.5px;
}

.custsearch-res-sub-header .customer-name {
    flex: 4;
    max-width: 60%;
}

.custsearch-res-sub-header .customer-name-label {
    padding-top: 39px;
    padding-bottom: 39px;
    height: 52px;
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;

}

.custsearch-res-sub-header .divider {
    flex: 1;
    max-width: 0px;
    width: 0px;
    height: 65.8px;
    border: solid 2px #ffffff;
    margin-top: 32.5px;
    margin-bottom: 31.7px;
}

.custsearch-res-sub-header .incircle-details {
    flex: 1.7;
    display: flex;
    flex-direction: row;
    max-width: 550px;
}

.custsearch-res-sub-header .incircle-level {
    padding-left: 30.5px;
    padding-top: 32.5px;
    padding-bottom: 31.7px;
    width: 65.8px;
    height: 65.8px;
}

.custsearch-res-sub-header .incircle-description {
    padding-top: 32.5px;
    padding-bottom: 31.7px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.custsearch-res-sub-header .incircle-description-level {
    flex: 1;
    height: 28px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    text-align: left;
    color: #ffffff;
}

.custsearch-res-sub-header .incircle-description-points {
    flex: 1;
    height: 28px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    text-align: left;
    color: #ffffff;
    padding-top: 8px;
}

.custsearch-res-sub-header .spacer-div {
    flex: 1.8;
    max-width: 250px;
}

.custsearch-res-sub-header .product-search {
    flex: 0.6;
    max-width: 300px;
    display: flex;
    flex-direction: row;
}

.custsearch-res-sub-header .product-search-icon {
    width: 80px;
    height: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.custsearch-res-sub-header .product-search-label {
    max-width: 106px;
    padding-top: 34px;
    padding-bottom: 33px;
    padding-left: 25px;
    height: 63px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: left;
    color: #ffffff;
}

.custsearch-res-sub-header .add-customer {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    max-width: 40%;
    justify-content: flex-end;
}

.custsearch-res-sub-header .add-customer-icon {
    width: 80px;
    height: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.custsearch-res-sub-header .add-customer-label {
    padding-top: 50px;
    padding-bottom: 33px;
    padding-left: 26px;
    text-transform: uppercase;
    height: 33px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    text-align: left;
    color: #613b8c;

}


/* ----------- INPUT ROW 1 --------------------- */

.custsearch-res-int-row1 {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-width: 1820px;
   /* padding-top: 30px;*/
}
.custsearch-res-int-row1 .fields {
   /* max-width: 281px;*/
    margin-left: 50px;
}
.custsearch-res-int-row1 .fields:first-child{
    margin-left: 0;
}

/* -------------- GENERAL - CONTENT -------------- */

.custsearch-res-international .custsearch-res-int-inputarea {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 80px;
    max-height: 130px;
    padding-right: 80px;
}

/*-------------- SEARCH TITLE -------------*/
.custsearch-res-title-area  .search-clear-all-icon {
    width: 13px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 6px;
}

/*--------------- SEARCH FROM ---------------*/
.custsearch-res-title-area {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.clearInput
{
    display: none;
}
.custsearch-res-form {
    padding: 30px 50px 30px 50px;
    background: #4b2b6f;
}
.fields input:focus{
    border-bottom: solid 2px #ffffff !important;
    outline: none !important;
}
.custsearch-result-incircle
{
    width:68px;
}
.custsearch-result.list-item:nth-child(5) {
    text-align: center;
}

.custsearch-result.list-header-title:nth-child(5) {
    text-align: center;
}
.clearInput
{
    width: 15px;
    position: relative;
    margin-top: -49px;
    left: 1px;
    float: right;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
}

.custsearch-res-search-button .search-icon {
    width: 27px;
    padding: 0px 16px 0px 6px;

}
.custsearch-res-form .searchTitle {
    width: 291px;
    height: 56px;
    font-family: Roboto-Light;
    font-size: 44px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    text-align: left;
    color: #ffffff;
    flex: 8 1;
}
.custsearch-res-clear-all-button {
    max-width: 40%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: right;
    text-align: center;
    width: 200px;
    height: 60px;
    border: solid 2px #ffffff;
    background: #4b2b6f;
    padding-left: 11.5px;
}

.addcust-int-clear-all-label {
    flex: 1 1;
    width: 128px;
    height: 28px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    text-align: left;
    color: #ffffff;
    padding-left: 11.5px;
}
.SearchBtnTxt {
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #613b8c;
}

button.nmg-button-general.custsearch-res-search-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    cursor: pointer;
    flex-direction: row;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex: 1.1 1;
    flex: 1.1 1;
    -ms-flex-align: left;
    align-items: left;
    text-align: center;
    width: 200px;
    height: 60px;
    padding-left: 16.5px;
  
}
.custsearch-res-search-button {
    background-color: #ffffff;
    border: solid 2px #ffffff;
    width: 200px;
    height: 60px;
    display: flex;
    cursor: pointer;
    margin-top: 30px;
    /* margin-right: 0; */
    /* padding-left: 17px; */
    /* padding-right: 15px; */
}

.custsearch-res-int-row1 .fields:last-child {
    margin-right: 0;
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
    align-items: center;
}


/*---------------------   CUSTOMER SEARCH LIST HEADLINE ------------------------*/
span.search-list-title {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    text-align: left;
    color: #505050;
}


span.search-list-number {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    text-align: left;
    color: #505050;
}

.custsearch-res-list-headline {
    max-width: 94.8%;
    padding-top:22px;
    margin: 0 auto;
}
.custsearch-icons.trangle-icon
{
    width: 30px;
    position: relative;
    float:left;
}
/*---------------------   CUSTOMER SEARCH RESULT LIST------------------*/


.marked.custsearch-result.list-body .custsearch-result.list-content.accordion-content {
    padding-left: 33px;
}


.custsearch-res-area ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.custsearch-res-area ::-webkit-scrollbar-track {
    background: whtie;
}

/* Handle */
.custsearch-res-area ::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    padding-right: 82px;
    padding-right: 82px;
}

/* Handle on hover */
.custsearch-res-area ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.custsearch-res-area {
    padding: 60px 24px 0px 50px;
}



.custsearch-result.list-header {
    display: flex;
    justify-content: space-between;
    padding: 0 13px 12px 38px;
}

.custsearch-result.list-header-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    flex: 1 1;
    color: #505050;
}

.custsearch-result.list-content {
    display: flex;
    justify-content: space-between;
    padding: 53px 13px 44px 38px;
}

.custsearch-result.list-item:first-child {
    color: #000000;
}

.custsearch-result.list-item {
    flex: 1 1;
    font-family: Roboto;
    font-size: 22px;
    padding-left: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    text-align: left;
    color: #333333;
}

.custsearch-result.list-body {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border: solid 0.5px #e2e2e2;
    margin-bottom: 12px;
}

.marked.custsearch-result.list-body .custsearch-result.list-content {
    padding-left: 8px;
}

.custsearch-result.list {
    max-height: 585px;
    overflow-y: auto;
    padding-right: 19px;
}

/*-------------------ACCORDIAN--------------------*/
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
    float:left;
    display:block;
    
    
}

.custsearch-result-devider {
    /* height: 1px; */
    /* background: red; */
    /* width: 100%; */
}


.custsearch-result.list-content.accordion-content {
    padding-top: 0;
}



.custsearch-result-devider {
    border-top: 0.5px solid #aaaaaa;
    width: 160px;
    padding-top: 36px;
}



.custsearch-result.list-content.accordion-content {
    display: none;
}
.open .accordionItemContent{
        padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display:block;
    -webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    -webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.4s ease-out;
	-o-transition: -o-transform 0.4s ease;
	-ms-transition: -ms-transform 0.4s ease;
	transition: transform 0.4s ease;
        box-sizing: border-box;
}
.accordionItem.close {
    display: none;
}
.accordionItem.open {
    display: block;
}
.accordionIcon {
    width: 22px;
    height: 22px;
    margin-left: 240px;
    cursor: pointer;
}



/*----------------RESPONSIVE----------------*/
@media all and (max-width: 1920px) and (orientation : portrait){

    .custsearch-result.list {
        max-height: 1272px;
    }
}


.search-form-sub-header {
    width: 1920px;
    height: 267px;
    background-color: #4b2b6f;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
}