.trans-discount-main-flex {
    display: flex;
    align-items: center;
    
}

.parent-title {
    margin-left: 10px;
}

.trans-discount-img {
    width: 120px;
    height: 120px;
}

.trans-discount-child {
    width: 420px;
    margin: 47px;
}

.trans-discount-highlighted {
    radius: .5;
}

.item-modify-click-style{
    text-decoration: underline;
    text-decoration-color: #4b2b6f;
    color : #4b2b6f;
}

/* large form factor */
@media only screen and (min-width: 1901px) {
    .trans-discount-img {
        width: 70px;
        height: 70px;
    }

}