.add-card-button .addcard-dom-area {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-left: 80px;
    padding-top: 85.5px;
}

.add-card-button .add-card-button-section {
    display: flex;
    flex-direction: row;
    height:80px;
    max-height: 80px;
    width: 240px;
    max-width: 240px;
}

.add-card-button .add-card-icon-section {
    flex: 1;
    max-width: 80px;
}

.add-card-button .addcard-icon {
    width: 80px;
    height: 80px;
}

.add-card-button .add-card-label-section {
    flex: 1;    
    display: flex;
    height:80px;
    max-height: 80px;
}

.add-card-button .addcard-label {
    height: 37px;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #505050;
    padding-top: 22px;
    padding-bottom: 21px;
    padding-left: 15.1px;
}

