/* CONTAINER */
.product-details-container {
  /* margin-top: 100px; */
}

/* HEADER */
.product-details-header {
  width: 100%;
  height: 65px;
  background-color: #4b2b6f;
  padding: 31px 0px 33px 51.5px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.product-details-sub-header {
  width: 100%;
  height: 65px;
  background-color: #78559f;
  padding: 31px 0px 33px 51.5px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.product-details-sub-header-60 {
  width: 60%;
}

.product-details-sub-header-40 {
  width: 40%;
}

.product-details-back {
  width: 20px;
  height: 40px;
  border: solid 3px #ffffff;
  border: solid 3px var(--white);
  padding-right: 60.5px;
  margin-top: 15px;
}

.product-details-header-name {
  width: auto;
  height: 52px;
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  color: var(--white);
  padding: 5px 42.5px 0px 0px;
}

.product-details-sub-name {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  padding: 0px 35.5px 0px 48.5px;
  border-right: solid 1px #ffffff;
}

.product-details-meta {
  padding: 0px 10px 0px 38.5px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
}

.bag-div{
  float: left;
  margin-right: 28px;
}

.bag-img{
  float: left;
  width: 80px;
}

.bag-text{
  line-height: -12px;
  vertical-align: -22px;
  margin-left: 20px;
}

.sale-div{
  float: left;
    width: 80px;
    margin-right: 20px;
}

.sale-img{
  float: left;
  width: 80px;
  margin-right: 20px;
}

.sale-text{
  vertical-align: -10px;
    line-height: 5px;
}




.product-details-checkout {
  width: 380px;
  top: 250px;
  right: 0;
  position: absolute;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  text-align: left;
}

/* DETAILS */
.product-details-info {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* IMAGES */
.product-details-images {
  padding-left: 80px;
  padding-bottom: 51.2px;
  width: 40%;
}

.detail-images {
  display: flex;
  flex-direction: row;
}

.thumbnail-images {
  background-color: #ffffff;
}

.thumbnail-image-each {
  border-radius: 9px;
  background-color: #ffffff;
  border: solid 1px #cfcfcf;
  padding: 10px;
  margin-bottom: 10px;
}

.thumbnail-full-image {
  width: 619.3px;
  height: 700px;
  border-radius: 9px;
  background-color: #ffffff;
  border: solid 1px #cfcfcf;
  padding: 10px 85.4px;
  margin-left: 20px;
}

.thumbnail-full-image img {
  width: 448px;
  height: 701.7px;
}

/* ROWS */
.product-details-rows {
  padding: 0px 22px;
  width: 60%;
}

.product-details-rows-content{

}

.rows-main-content {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  border-bottom: solid 1px #bfbfbf;
  padding-bottom: 10px;
}

.rows-main-content-price{
  margin: 15px 0px 10px;
}

.rows-main-content-price>span{
  padding: 20px;
}
.rows-main-content-price .span-text{
  margin-left: 20px;
  font-weight: 400;
  font-size: 25px;
  text-decoration: line-through;
  color: #757575;
}

.rows-main-content-price .span-text-green{
  font-size: 28px;
  color: #349815;
  font-weight: 400;
}

.rows-description {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  padding: 20px 10px;
  border-bottom: solid 1px #bfbfbf;
}

.rows-size-desc {
  padding: 30px 10px;
  border-bottom: solid 1px #bfbfbf;
}

.rows-size-title {
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  text-align: left;
  color: #333333;
}

.rows-size-alt-selected-size-guide{
  float: right;
  margin-top: 45px;
  font-size: 30px;
  text-decoration: underline;
}
.rows-checkout-check-availability{
  display: inline-block;
    float: left;
    font-size: 24px;
    margin-top: 30px;
    text-decoration: underline;
}


.rows-size-alt {
  display: inline-block;
  width: 50px;
  margin: 25px 10px 0px 10px;
  padding: 15px 0px;
  border-radius: 50px;
  border: solid 1px #bfbfbf;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  text-align: center;
  color: #000000;
}

.rows-size-alt-selected{
  background-color: #4b2b6f;
  color: #ffffff;
  display: inline-block;
  width: 50px;
  margin: 25px 10px 0px 10px;
  padding: 15px 0px;
  border-radius: 50px;
  border: solid 1px #bfbfbf;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  text-align: center;
}
.rows-color{
  padding: 20px 0px;
  margin-left: 10px;
  border-bottom: 2px solid #d9d9d9;
}

.rows-color-inner {
  margin-left: -20px;
  padding: 10px 0px;
}

.rows-color-inner:first-child{
  margin-left:0px; 
}

.rows-color-inner-circle {
  background: #ce4f4f;
  border: 6px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  -webkit-box-shadow: 0 0 0 1px #cfd1d1;
  box-shadow: 0 0 0 2px #051919;
  display: inline-block;
  margin-left: 20px;
}

.rows-color-inner:first-child{
  margin-left:0px; 
}

.rows-color-title {
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  text-align: left;
  color: #333333;
}

.rows-color-alt {
  width: 61px;
  margin: 25px 10px 0px 10px;
  padding: 15px 0px;
  border-radius: 50px;
  border: solid 1px #bfbfbf;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  text-align: center;
  color: #000000;
}

.rows-checkout-title{
 
    font-family: "Helvetica";
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    text-align: left;
    color: #333333;
  
}

.rows-checkout{
  padding: 15px 5px;
}
.rows-checkout-span{
  float: right;
    padding: 7px 18px 7px;
    font-size: 26px;
    border: 2px solid #4b2b6f;
    margin-right: 40px;
}

.rows-checkout-span-bag{
  float: right;
    padding: 7px 18px 7px;
    font-size: 26px;
    background: #4b2b6f;
    color: #ffffff;
}

.rows-checkout-inner-bag{
  width: 32px;
}

.rows-checkout-inner-print{
  width: 45px;
  display: inline-block;
    color: #4b2b6f;
}

.rows-checkout-inner-text{
  vertical-align: 10px;
    padding-left: 20px;
    color: inherit;
    font-weight: 200;
}

.rows-other {

}

.rows-print {

}
