/* CONTAINER */
.product-details-container {
  /* margin-top: 100px; */
}

/* HEADER */
.product-details-header {
  width: 100%;
  height: 65px;
  background-color: #4b2b6f;
  padding: 31px 0px 33px 51.5px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.product-details-sub-header {
  width: 100%;
  height: 65px;
  background-color: #78559f;
  padding: 31px 0px 33px 51.5px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.product-details-sub-header-60 {
  width: 60%;
}

.product-details-sub-header-40 {
  width: 40%;
}

.product-details-back {
  width: 20px;
  height: 40px;
  border: solid 3px #ffffff;
  border: solid 3px var(--white);
  padding-right: 60.5px;
  margin-top: 15px;
}

.product-details-header-name {
  width: auto;
  height: 52px;
  width: 950px;
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  color: var(--white);
  padding: 5px 42.5px 0px 0px;
}

.product-details-sub-name {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  padding: 0px 35.5px 0px 48.5px;
  border-right: solid 1px #ffffff;
}

.product-details-meta {
  padding: 0px 10px 0px 38.5px;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
}

.bag-div{
  float: left;
  margin-right: 28px;
}

.bag-img{
  float: left;
  width: 80px;
}

.bag-text{
  line-height: -12px;
  vertical-align: -22px;
  margin-left: 20px;
}

.sale-div{
  float: left;
    width: 80px;
    margin-right: 20px;
}

.sale-img{
  float: left;
  width: 80px;
  margin-right: 20px;
}

.sale-text{
  vertical-align: -10px;
    line-height: 5px;
}




.product-details-checkout {
  width: 380px;
  top: 250px;
  right: 0;
  position: absolute;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  text-align: left;
}

/* DETAILS */
.product-details-info {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: scroll !important;
}

/* IMAGES */
.product-details-images {
  padding-left: 80px;
  padding-bottom: 51.2px;
  width: 40%;
  height: 750px;
}

.detail-images {
  display: flex;
  flex-direction: row;
}

.thumbnail-images {
  background-color: #ffffff;
}

.thumbnail-image-each {
  border-radius: 9px;
  background-color: #ffffff;
  border: solid 1px #cfcfcf;
  padding: 10px;
  margin-bottom: 10px;
}

.thumbnail-full-image {
  width: 619.3px;
  height: 700px;
  border-radius: 9px;
  background-color: #ffffff;
  border: solid 1px #cfcfcf;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.thumbnail-full-image img {
  width: 448px;
  height: 701.7px;
}

/* ROWS */
.product-details-rows {
  padding: 0px 22px;
  width: 60%;
  overflow-y: scroll !important;
  height: 750px;
}

.product-details-rows-content{

}

.rows-main-content {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  border-bottom: solid 1px #bfbfbf;
  padding-bottom: 10px;
}

.rows-main-content-price{
  margin: 15px 0px 10px;
}

.rows-main-content-price>span{
  padding: 20px;
}
.rows-main-content-price .span-text{
  margin-left: 20px;
  font-weight: 400;
  font-size: 25px;
  text-decoration: line-through;
  color: #757575;
}

.rows-main-content-price .span-text-green{
  font-size: 28px;
  color: #349815;
  font-weight: 400;
}

.rows-description {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  padding: 20px 150px 20px 10px;
  border-bottom: solid 1px #bfbfbf;
}

.rows-size-desc {
  padding: 30px 10px;
  border-bottom: solid 1px #bfbfbf;
}

.rows-size-title {
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  text-align: left;
  color: #333333;
}

.rows-size-alt-selected-size-guide{
  float: right;
  margin-top: 45px;
  font-size: 24px;
  text-decoration: underline;
}

.rows-checkout-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rows-checkout-check-availability{
  font-size: 24px;
  text-decoration: underline;
}

.rows-checkout-check-availability a {
  vertical-align: -27.5px;
}


.rows-size-alt {
  display: inline-block;
  width: 50px;
  margin: 25px 10px 0px 10px;
  padding: 15px 0px;
  border-radius: 50px;
  border: solid 1px #bfbfbf;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  text-align: center;
  color: #000000;
}

.rows-size-alt-selected{
  background-color: #4b2b6f;
  color: #ffffff;
  display: inline-block;
  width: 50px;
  margin: 25px 10px 0px 10px;
  padding: 15px 0px;
  border-radius: 50px;
  border: solid 1px #bfbfbf;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  text-align: center;
}
.rows-color{
  padding: 20px 0px;
  margin-left: 10px;
  border-bottom: 2px solid #d9d9d9;
}

.rows-color-inner {
  margin-left: -20px;
  padding: 10px 0px;
}

.rows-color-inner:first-child{
  margin-left:0px; 
}

.rows-color-inner-circle {
  /* background: #ce4f4f; */
  border: 6px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
  -webkit-box-shadow: 0 0 0 1px #cfd1d1;
  box-shadow: 0 0 0 2px #051919;
  display: inline-block;
  margin-left: 20px;
}

.rows-color-inner-circle-img{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: relative;
}

.rows-color-inner:first-child{
  margin-left:0px; 
}

.rows-color-title {
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  text-align: left;
  color: #333333;
}

.rows-qty-title,
.rows-purchase-date-title,
.rows-purchase-loc-title,
.rows-transid-title {
  font-family: "Helvetica";
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  text-align: left;
  color: #333333;
}

.rows-color-alt {
  width: 61px;
  margin: 25px 10px 0px 10px;
  padding: 15px 0px;
  border-radius: 50px;
  border: solid 1px #bfbfbf;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  text-align: center;
  color: #000000;
}

.rows-checkout-title{
 
    font-family: "Helvetica";
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    text-align: left;
    color: #333333;
  
}

.rows-checkout{
  padding: 15px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   
}

.rows-checkout-inner {
  padding-top: 24px;
}

.rows-checkout-span{
  float: right;
    padding: 7px 18px 7px;
    font-size: 26px;
    border: 2px solid #4b2b6f;
    margin-right: 40px;
}

.rows-checkout-span-bag{
  float: right;
    padding: 7px 18px 7px;
    font-size: 26px;
    background: #4b2b6f;
    color: #ffffff;
}

.rows-checkout-inner-bag{
  width: 32px;
}

.rows-checkout-inner-print{
  width: 45px;
  display: inline-block;
    color: #4b2b6f;
}

.rows-checkout-inner-text{
  vertical-align: 10px;
    padding-left: 20px;
    color: inherit;
    font-weight: 200;
}

.rows-other {

}

.rows-print {

}

/*Check Availibility Modal*/

.productDetails-checkAvailModal{
  width: 1820px;
  height: 1085px;
  max-width: initial !important;
  padding: 0.3px !important;
}

.checkAvailModal-mainHeader{
  display: flex;
  /* width: 1820px; */
  height: 86px;
  align-items: center;
  background-color: #4b2b6f;
  border: 1px solid #a87ed6;
}

.checkAvailModal-mainHeader-text{
  margin-left: 50px;
  font-size: 50px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  align-items: center;
}

.checkAvailModal-productDescHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 128px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  /* border: 2px solid green; */
}

.checkAvailModal-productDesc{
  margin-left: 78px;
  font-family: Roboto;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.checkAvailModal-productSku{
  margin-right: 80px;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
}

.checkAvailModal-availList-container{
  height: 746px;
  /* border: 2px solid orange; */
  overflow: scroll;
}

.slick-prev {
width: 25px !important;
height: 47.9px !important;
background-image: url('../../../resources/images/Arrow_Back.svg') !important;
} 

.slick-next {
width: 25px !important;
height: 47.9px !important;
background-image: url('../../../resources/images/Arrow_Forward.svg') !important;
right: -70px !important;
}

.checkAvailModal-storeList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 52px;
  width: 1700px;
  height: 117px;
  border-bottom: 1px solid grey;
}

.checkAvailModal-storeList-store{
  display: flex;
  margin-left: 80px;
  font-size: 32px;
  font-weight: normal;
}

.checkAvailModal-storeList-qty{
  display: flex;
  margin-right: 80px;
  font-size: 32px;
  font-weight: normal;
}

.checkAvailModal-footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 1820px; */
   height: 125px; 
  box-shadow: 0 -4px 6px 0 #d3d3d3;
  /* border: 2px solid purple; */
}

.checkAvailModal-footer-printButton{
  display: flex;
  text-align: right;
  margin-right: 30px;
  width: 171px;
  height: 60px;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.2px;
  text-align: left;
  color: #613b8c;
}

.checkAvailModal-footer-printButton-icon{
  height: 32px;
  width: 32px;
  margin-left: 25px;
  margin-right: 15px;
}

.checkAvailModal-footer-okButton{
  display: flex;
  justify-content: center;
  margin-right: 50px;
  width: 171px;
  height: 60px;
  background-color: #4b2b6f;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffffff;
}

.sale-customer-name {
  display: flex;
  flex-direction: row;
  float: right;
}

.sale-customer-name-label {
  /* padding-top: 39px; */
  padding: 20px 0;
  height: 52px;
  font-family: Roboto-Light;
  font-size: 44px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
  color: #ffffff;
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  flex: 1;
  max-width: 0px;
  width: 0px;
  height: 65.8px;
  border: solid 1px #937aaf;
  margin-top: 13.5px;
  margin-left: 28.5px;
}

.sale-customer-address {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.32;
  text-align: right;
  color: #ffffff;
  margin: 20px 25px 0 0; 
  align-items: flex-end;
}