.small-ff-modal
{
    width: 890px;
    height: 1200px;
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.49);
    background-color: #ffffff;
    border: solid 1px #bfbfbf;
}
.small-ff-success-modal
{
    padding: 0px !important;
    height:1426px !important;
}
.Modal-modal-0-1-3.small-ff-modal,.addr-email-modal
{
    width:890px !important;
    height: 1200px !important;
    max-width: 890px !important;
}
.edit-cust-sff-modal-textopt-button-area {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.edit-cust-sff-modal-icon
{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 153px;
}

.edit-cust-sff-container {
    width: 748px;
    margin: 0 auto;
    text-align: center;
}

.edit-cust-sff-phone-modal-label {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    padding-top: 91px;
    color: #333333;
}

.edit-cust-sff-phone-modal-conform-phone {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

.edit-cust-sff-email-modal-label {
    font-family: Roboto;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    padding-top: 91px;
}

.edit-cust-sff-email-modal-conform-email {
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    padding-top: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-cust-sff-text-opt-message
{
    font-family: Roboto;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 2px;
    text-align: center;
    color: #333333;  
}

.edit-cust-sff-phone-modal-conform-phone {
    padding-top: 75px;
}
.edit-cust-sff-email-modal-conform-phone {
    padding-top: 75px;
}
/********--buttons--*******/
.edit-cust-sff-modal-yes-btn {
    width: 310px;
    height: 89px;
    background-color: #4b2b6f;
    border: solid 2px #4b2b6f;
    padding-top: 31px;
}

.edit-cust-sff-modal-yes-btn span {
    width: 85px;
    font-family: Roboto;
    font-size: 47px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.edit-cust-sff-modal-no-btn {
    width: 310px;
    height: 89px;
    background-color: #ffffff;
    border: solid 2px #4b2b6f;
    padding-top: 31px;
}

.edit-cust-sff-modal-no-btn span {
    width: 85px;
    /* height: 62px; */
    font-family: Roboto;
    font-size: 47px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #613b8c;
    /* padding-top: 30px; */
    /* margin-top: 33px; */
}
.edit-cust-sff-modal-conform-phone-button-area {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 139px;
    width: 702px;
    /* margin: 0 auto; */
}


.edit-cust-sff-modal-email-button-area
 {
    display: flex;
    justify-content: space-between;
    margin-top: 139px;
    padding-left: 38px;
    padding-right: 38px;
}
.edit-cust-sff-modal-textopt-disagree-btn
{
    border: solid 2px #613b8c;
    width: 310px;
    height: 89px;
    padding-top: 31px;
}
.edit-cust-sff-modal-textopt-disagree-btn-label
{
    font-family: Roboto;
    font-size: 46px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #613b8c;
}
.edit-cust-sff-text-opt-message-area {
    margin-top: 50px;
}
.edit-cust-sff-modal-textopt-agree-btn
{
    width: 310px;
    height: 89px;
    background-color: #4b2b6f;
    border: solid 2px #4b2b6f;
    padding-top: 31px;
}
.edit-cust-sff-modal-textopt-agree-btn-label
{
    font-family: Roboto;
    font-size: 46px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

/****------SUCCESS MODAL--*******/
.edit-cust-sff-success-modal-icon {
    width: 300px;
    height: 300px;
    margin-top: 343px;
    margin-left: 295px;
}

.edit-cust-sff-success-modal-message {
    width: 698px;
    height: 237px;
    font-family: Roboto;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin-left:96px;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #333333;

    margin-top:134px;
}

.edit-cust-sff-success-modal-close-btn {
    display: -ms-flexbox;
    display: flex;
    width: 890px;
    height: 170px;
    background-color: #4b2b6f;
    border: solid 1px #a87ed6;
    text-align: center;
    margin-top: 145px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -0.5px;
}

span.edit-cust-sff-success-modal-close-btn-label {
    font-family: Roboto;
    font-size: 56px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #faf7f7;
}
/****------FAIL MODAL--*******/
.edit-cust-sff-fail-modal-icon {
    width: 300px;
    height: 300px;
    margin-top: 343px;
    margin-left: 134px;
}

.edit-cust-sff-fail-modal-message-text
{   
    width: 698px;
    height: 237px;
    font-family: Roboto;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 2px;
    text-align: center;
    color: #333333; 
}


.edit-cust-sff-fail-modal-close-btn {
    display: -ms-flexbox;
    display: flex;
    width: 800px;
    height: 170px;
    background-color: #4b2b6f;
    border: solid 1px #a87ed6;
    text-align: center;
    margin-top: 42px;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -0.5px;
}
.edit-cust-sff-fail-modal-button-area {
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top:97px;
}
.edit-cust-sff-fail-modal-message-area {
    margin-top: 101px;
}
.edit-cust-sff-modal-fail-backtoedit-btn
{
    border: solid 2px #613b8c;
    width: 310px;
    height: 89px;
    padding-top: 31px;
}
.edit-cust-sff-modal-backtoedit-btn-label
{
    font-family: Roboto;
    font-size: 46px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #613b8c;
}

.edit-cust-sff-modal-fail-bypass-btn
{
    background-color: #4b2b6f;
    border: solid 2px #4b2b6f;
    width: 310px;
    height: 89px;
    padding-top: 31px;
}
.edit-cust-sff-modal-bypass-btn-label
{
    font-family: Roboto;
    font-size: 46px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

/**-------------EMAIL OR ADDRESS VALID POPUP----------**/
.edit-cust-sff-addr-fail-container img.edit-cust-sff-modal-icon {
    padding-left: 300px;
}

.edit-cust-sff-addr-email-modal-message-area {
    width: 750px;
    height: 310px;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 153px;
}

.edit-cust-sff-modal-ok-btn {
    background-color: #4b2b6f;
    width: 890px;
    height: 120px;
    border: solid 1px #a87ed6;
    padding-top: 29px;
    text-align: center;
}


.edit-cust-sff-addr-fail-container span.edit-cust-sff-modal-ok-btn-label {
    font-family: Roboto;
    font-size: 56px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    width: 170px;
    color: #faf7f7;
}