.trans-tax-exempt-container {
    padding: 0px !important;
    height: 568px !important;
    width: 725px !important;
    margin: auto;
    /* margin-top: -32px; */
    display: flex;
    flex-direction: column;
}

.trans-tax-exempt-icon {
    width: 120px;
    height: 120px;
    margin-top: 80px;
    margin-left: 302px;
}

.trans-tax-exempt-label {
    /* width: 123px;
    height: 43px; */
    font-family: Roboto;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    margin-top: 25px;
    text-align: center;
    color: #333333;
}

.Cancel_Purple_SFF {
    padding: 13px;
    width: 28px;
    height: 28px;
    -o-object-fit: contain;
    object-fit: contain;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}

.trans-tax-exempt-cancel {
    position: fixed;
    margin: 60px 0px 0px 170px;
    width: 180px;
    height: 60px;
    border: solid 2px #613b8c;
}

.trans-tax-exempt-cancel-btn {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    text-align: left;
    color: #613b8c;
    margin-top: 14px;
}

.trans-tax-exempt-ok {
    margin: 60px 170px 0px;
    width: 160px;
    height: 65px;
    background: #613b8c;
    border: solid 2px #613b8c;
    float: right;
    color: #fff;
    font-size: 24px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
}

.trans-tax-exempt-ok:disabled {
    border: 2px solid #a491b9;
    background-color: #a491b9;
    color: #fff;
}

.item-taxed-exempt{
    display:block;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: right;
    color: #51515b; 
    position: absolute;
    margin-top: 25px;
    margin-left: 360px;
    padding-top: 30px;
}

.viewMoreClass .item-taxed-exempt {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: right;
    color: #51515b;
    font-size: 30px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    
}

.viewMoreClass .item-taxed-exempt-ID {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: right;
    color: #51515b;
    font-size: 30px;
    margin-left: 100px;
    font-weight: normal;
}
.viewMoreClass > .price-Details{
    margin-left: 0;
    margin-top:8px;
}
.viewMoreClass > .viewMoreTotal {
    margin-top: 180px !important;
}
.item-taxed-exempt-ID{
        font-family: Roboto;
        font-size: 30px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        text-align: left;
        color: #333333;
        position: fixed;
        right: 896px;
}

.viewMoreClass .payment-button{
    margin-bottom:27px !important;
}

@media only screen and (width: 1080px) {
    .keypad-container{
        flex-grow: 0 !important;
    } 
    .trans-tax-exempt-label {
        width: 100%;
        height: 79px;
        font-family: Roboto;
        font-size: 60px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: left;
        color: #505050;
    }
    .trans-tax-exempt-container {
        padding: 50px !important;
        height: auto !important;
        width: auto !important;
        margin: auto;
        /* margin-top: -32px; */
        display: flex;
        flex-direction: column;
    }
    .Cancel_Purple_SFF {
        padding: 13px;
        width: 47.3px;
        height: 47.3px;
        -o-object-fit: contain;
        object-fit: contain;
        float: left;
        margin-left: 44px;
        margin-top: 25px;
    }
    .SaleitemDetails {
        width: auto;
        height: 316px;
        box-shadow: 0 0 6px 0 #613b8c;
        background-color: rgba(168, 126, 214, 0.02);
        border: solid 5px #a87ed6;
        display: flex;
    }
    .trans-tax-exempt-canceldiv {
        width: 375px;
        height: 120px;
        border: solid 4px #612e9b;
        margin-left:10%;
    }
    .trans-tax-exempt-cancel-btn {
        width: 250px;
        height: 58px;
        font-family: Roboto;
        font-size: 52px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: normal;
        /* text-align: left; */
        color: #612e9b;
        margin-top: 25px;
        /* margin-left: 71px; */
        float: right;
    }
    .trans-tax-exempt-ok-btn {
        width: 304px;
        height: 129px;
        background: #613b8c;
        border: solid 2px #613b8c;
        float: right;
        color: #fff;
        font-size: 52px;
        font-family: Roboto;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        margin-left: 50px;
    }
    .trans-tax-exempt-ok-btn:disabled {
        width: 304px;
        height: 129px;
        border: 2px solid #4b2b6f;
        background-color: #4b2b6f;
        color: #fff;
        font-size: 52px;
    }
    .trans-tax-exempt-buttons {
        border-top: 1px solid #000;
        padding: 80px;
        display: -ms-flexbox;
        display: flex;
        margin-top: 58%;
        margin-left: -54px;
        width: 100%;
    }
    .item-taxed-exempt{
        display:none;
    }
    .viewMoreClass > .price-Details {
        margin-left: 0;
        width: auto !important;
        margin-top: 15% !important;

    }
    .viewMoreClass .item-taxed-exempt {
        display: inline;
        font-size: 44px;
    }
    .viewMoreClass .item-taxed-exempt-ID{
        font-family: Roboto;
        font-size: 42px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        text-align: left;
        color: #333333;
    }
    
    .viewMoreClass > .viewMoreTotal {
        width: 100px;
        height: 500px !important;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 0px;
    }
    .viewMoreClass .viewless-link {
        width: 250px;
        font-size: 42px;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .viewMoreClass .item-taxed-exempt {
        display: block;
        font-size: 44px;
        /* width: 93% !important; */
        /* margin-top: -14% !important; */
        margin-right: 0%;
        margin-bottom: 2%;
    }
    .viewMoreClass .item-taxed-exempt-ID {
        font-family: Roboto;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: right;
        color: #51515b;
        font-size: 44px;
        margin-left: 122px;
    }
    .viewMoreClass .item-taxed{
        margin-top: 1% !important;
        margin-bottom: 1% !important;
    }
    .viewMoreClass > .viewMoreTotal #total-small {
        width: 100px;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 250px;
        margin-left: 40px;
    }
    .viewMoreClass .payment-button{
        margin-top: 25px !important;
    }
}