.Modal-modal-0-1-3.update-email-valid-dom-modal {
    max-width: 725px !important;
    max-height: 575px !important;
}

.update-dom-cust-ok-btn {
    margin-top: 113px;
    text-transform: capitalize;
    font-size: 72px !important; 
}
.update-email-valid-dom-modal {
    max-width: 725px !important;
}
span.add-dom-cust-modal-ok-btn-label.update-dom-cust-ok-btn-lable {
    /* font-size: 31px; */
}