/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    src: url('./resources/fonts/Roboto-Regular.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    src: url('./resources/fonts/Roboto-Light.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    src: url('./resources/fonts/Roboto-Medium.ttf') format('truetype');

}
@font-face {
    font-family: 'Roboto-Thin';
    font-style: normal;
    src: url('./resources/fonts/Roboto-Thin.ttf') format('truetype');

}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./resources/fonts/Roboto-Light.ttf') format('truetype');

}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./resources/fonts/Roboto-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('./resources/fonts/Roboto-Regular.ttf') format('truetype');

}

body {
    font-family: 'Roboto'
}

html, body, body>div, .routerContainer {
    height: 100%;
    /* position: fixed; */
    -webkit-user-select: none;
    -ms-scroll-chaining: none;
}

.return-to-top-scroll {
    position: fixed;
    bottom: 85px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}