.recommendSlide {
  width: 254px;
  height: 290px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  background-color: var(--white);
  border: solid 1px #ededed;
  }
  
  .recommendSlide .img {
    width: 137px;
    height: 166px;
    margin: auto;
    margin-top: 15px;
  }

  .recommendSlide .img-details {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    width: 200px;
    height: 42px;
    text-align: left;
    margin: auto;
    word-break: break-word;
}

.img-details .brand {
  font-weight: 500;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


 .reccomendSlide .descrip {
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}